[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
