[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/LeaderF"]
	path = bundle/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-ripgrep"]
	path = bundle/vim-ripgrep
	url = https://github.com/kkpattern/vim-ripgrep.git
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule "bundle/vim-two-firewatch"]
	path = bundle/vim-two-firewatch
	url = https://github.com/rakr/vim-two-firewatch.git
[submodule "bundle/CompleteParameter"]
	path = bundle/CompleteParameter
	url = https://github.com/tenfyzhong/CompleteParameter.vim.git
